ignore.conf
*.private
*.private.meta
^*.private.[0-9]+$
^*.private.[0-9]+.meta$
/.vs
/.gradle
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pidb.meta
sysinfo.txt
*.apk
*.unitypackage
crashlytics-build.properties
.DS_Store*
Thumbs.db
Desktop.ini


TitanReach_Server/bin/Debug/netcoreapp3.1/TitanReach_Server.dll

TitanReach_Server/bin/Debug/netcoreapp3.1/TitanReach_Server.exe

TitanReach_Server/bin/Debug/netcoreapp3.1/TitanReach_Server.pdb

TitanReach_Server/bin/Debug/netcoreapp3.1/TitanReach_Server.runtimeconfig.dev.json

TitanReach_Server/obj/Debug/netcoreapp3.1/TitanReach_Server.assets.cache

TitanReach_Server/obj/Debug/netcoreapp3.1/TitanReach_Server.csproj.FileListAbsolute.txt

TitanReach_Server/obj/Debug/netcoreapp3.1/TitanReach_Server.dll

*.exe

TitanReach_Server/obj/Debug/netcoreapp3.1/TitanReach_Server.pdb

TitanReach_Server/obj/Debug/netcoreapp3.1/TitanReach_Server.csprojAssemblyReference.cache

TitanReach_Server/obj/project.assets.json

TitanReach_Server/obj/TitanReach_Server.csproj.nuget.cache

TitanReach_Server/obj/TitanReach_Server.csproj.nuget.dgspec.json

TitanReach_Server/obj/TitanReach_Server.csproj.nuget.g.props

UpgradeLog.htm
